body {
    height: 100vh;
    margin: 0;
    justify-content: center;
    display: flex;
}

.background {
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #ffffff, #eaf2e0, #d5e5c1, #b0cc91, #8ab36a, #5d8d2f, #356900);
    background-size: 150% 150%;
    animation: pulsingBackground 10s steps(10000)infinite;
}

/* Enter Button Section */
#enter_button {
    height: auto;   
    width: auto;
    font-size: 500%;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Console',Garamond;
    text-shadow: 0px 5px 10px rgb(0,0,0,0.5);
    border: 0;
    background: none;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    transition: transform 0.3s ease, color 0.6s ease;
}

#enter_button:hover {
    color: #00000078;
    transform: scale(1.08);
    text-shadow: 0 7px 15px rgba(0, 0, 0, 0.8);
    transition: transform 0.6s ease, color 0.6s ease;
}

#enter_button.animate_enter_button {
    text-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);    
    animation: shrinkAndGrow 0.5s ease;
}

@keyframes shrinkAndGrow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
        color: rgb(0, 0, 0);
    }
    100% {
        transform: scale(1);
        color: transparent;
        text-shadow: none;
    }
}

@keyframes pulsingBackground {
    0%, 100% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
  }

/* Intro Context Animations */
.post_button {
    color: transparent;
    margin: 0px;
    height: auto;
    width: auto;
}

#main_heading.enter_screen {
    animation: fadeIn 1s ease-in forwards;
}

#text_intro.enter_screen {
    animation: fadeIn 1s ease-in forwards;
}

#welcome_message.enter_screen {
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    0% {
        color: transparent;
    }
    100% {
        color: black;
        transform-origin: top;
        transform: translateY(10px)
    }
}