body {
    margin: 0px;
}

.background {
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #ffffff, #eaf2e0, #d5e5c1, #b0cc91, #8ab36a, #5d8d2f, #356900);
    background-size: 150% 150%;
    animation: pulsingBackground 10s steps(10000)infinite;
}

@keyframes pulsingBackground {
    0%, 100% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
  }

.main_recipe_title {
    background-color: whitesmoke;
    font-size: 30px;
    font-weight: bolder;
    margin: 0px;
    padding: 20px;
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    text-decoration-line: underline;
    box-sizing:border-box;
    border-bottom-right-radius: 15px;
}

#home_button {
    background-color: whitesmoke;
    font-size: 18px;
    width: 40vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main_body {
    margin: 25px;
    display: flex;
}

.left_column {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}


#final_photo {
    border: 3px solid #356900;
    border-radius: 30px;
    height:310px;
    width:480px;
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
}

.ingredients_list {
    background: white;
    border: 3px solid #356900;
    box-sizing: content-box;
    padding-top: 9px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    padding-left: 20px;
    border-radius: 30px;
    height:auto;
    width:460px;
}

.recipe_steps {
    display: flex;
    flex-direction: row;
    background: white;
    border: 3px solid #356900;
    border-radius: 30px;
    padding-top: 9px;
    padding-left: 20px;
    width: 960px;
    margin-right: 10px;
    flex-direction: row;
}

.recipe_steps li {
    margin-left: -60px;
    margin-right: 20px;
}